<nav>
    <div class="cabecera">
        <img
    class="footer__logo"
    src="assets/images/Rick-And-Morty-Logo1.png"
    alt="logo"
    width="200"
    height="200"
/>
    <ul class="cabecera-ul">
        <li class="cabecera-li">
            <a class="header__link" [routerLink]="['home']">Home</a>

        </li>

        <li class="cabecera-li">
            <a class="header__link" [routerLink]="['character-list']">Personajes</a>
        </li>
        <li class="cabecera-li"> 
            <a class="header__link" [routerLink]="['create-character']">Crear personaje</a>
        </li>
<li class="cabecera-li">
        <a class="header__link" [routerLink]="['personajes']">Personaje creado</a>	
   
    
</li>

    </ul>

</div>
</nav>
