<div class="buscador">
    <input class="input-buscador" placeholder="Buscar personaje" [(ngModel)]="characterName" />



</div>
<div class="pagination__container">
    <pagination-controls class="pagination" (pageChange)="pages = $event"></pagination-controls>
</div>





<div *ngIf="characters$" class="character-list">

    <app-character
        *ngFor="let characterEl of characters$ | async | filter:characterName | paginate: {itemsPerPage: 15, currentPage: pages } "
        [characters]="characterEl" ></app-character>
</div>