* {
  margin: 0;
  padding: 0;
}
.home {
  background-image: url("../../../assets/images/rick1.jpg ");

  height: 110%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}
.div__container {
  height: 751px;
  width: 100%;
}
