<form
    *ngIf="productForm"
    class="form"
    (submit)="createNewProduct()"
    [formGroup]="productForm"
    name="product"
>
   <div class="field-container">
        <input
            class="form__input"
            placeholder="Nombre"
            type="text"
            required
            formControlName="name"
        >
        <p
            *ngIf="!productForm.get('name')?.valid
                && productForm.get('name')?.dirty
                && productForm.get('name')?.errors?.['required']
            "
            class="input-error"
        >El valor está requerido</p>
        <p
            *ngIf="!productForm.get('name')?.valid
                && productForm.get('name')?.dirty
                && productForm.get('name')?.errors?.['pattern']
            "
            class="input-error"
        >El nombre debe incluir solo letras</p>
   </div>
   <div class="field-container">
        <input
            class="form__input"
            placeholder="Precio"
            name="precio"
            required
            formControlName="price"
        >
        <p
            *ngIf="!productForm.get('price')?.valid
                && productForm.get('price')?.touched
                && productForm.get('price')?.errors?.['required']
            "
            class="input-error"
        >El valor está requerido</p>
        <p
            *ngIf="!productForm.get('price')?.valid
                && productForm.get('price')?.touched
                && productForm.get('price')?.errors?.['maxlength']
            "
            class="input-error"
        >El valor excede la longitud máxima, 6 carácteres</p>
    </div> 
    <div class="field-container">
        <input
            class="form__input"
            placeholder="Color"
            name="color"
            required
            formControlName="color"
        >
        <p
            *ngIf="!productForm.get('color')?.valid && productForm.get('color')?.touched"
            class="input-error"
        >El valor está requerido</p>
    </div> 
    <div class="field-container">
        <input
            class="form__input"
            placeholder="Imagen"
            name="image"
            required
            formControlName="image"
        >
        <p
            *ngIf="!productForm.get('image')?.valid && productForm.get('image')?.touched"
            class="input-error"
        >El valor está requerido</p>
    </div> 
    
    <div class="field-container">
        <textarea
            required
            class="form__input form__textarea"
            placeholder="Descripción"
            name="description"
            formControlName="description"
        ></textarea>
        <p
            *ngIf="!productForm.get('description')?.valid && productForm.get('description')?.touched"
            class="input-error"
        >El valor está requerido</p>
    </div>
    <button
        class="form__button"
        type="submit"
        [disabled]="!productForm.valid"
    >
        {{ canEdit ? 'Editar producto' : 'Crear producto' }}
    </button>
</form>
<div
    class="img__container"
    [ngStyle]="{
        'background-image': 'url(' + urlImg + ')',
        'object-fit': 'contain'
    }"
>
</div>
