
.register{
    height: 790px;
    display: flex;
 
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 199, 241);

    &__form{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 30px;
    }
    &__form_input{
        margin-left: 25px;
        border-radius: 50px;
        width: 160px;
        height: 28px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    &__form_error{
        font-weight: bold;
        font-family: cursive;
        color: rgb(98, 23, 184);
    }
    &__form_label{
        font-family: cursive;
        font-weight: bold;
        color : rgb(12, 12, 12);
    }
    &__button{
        margin-left: 20px;
        margin-top: 20px;
        background-color: rgb(231, 226, 226);
        color: rgb(17, 17, 18);
        border-radius: 40px;
        width: 100px;
        height: 28px;
        
    }
    &__button:hover{
        color: rgb(8, 8, 7);
        cursor: pointer;
    }
}

.message__info{
    display: flex;
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
}




.avatar__preview{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 0px;
    background-color:rgb(199, 199, 241) ;

    
    &_div{
        height: 180px;
        background-repeat: no-repeat;
        
    }
    &_p{
        font-weight: bold;
        font-family: cursive;
        color: red;
        margin-top: 200px;
    }
}